<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>Registration closes in <span id="timer1" class ="timer">05:00</span> minutes!</div>
    <input id="button1" class="buttons" type="button" value="Start">
    <input id="button1_stop" class="buttons" type="button" value="Stop">
    <div>Registration closes in <span id="timer2" class="timer">01:00</span> minutes!</div>
    <input id="button2" class="buttons" type="button"  value="Start">
    <input id="button2_stop" class="buttons" type="button" value="Stop">
    <div>Registration closes in <span id="timer3" class ="timer">08:30</span> minutes!</div>
    <input id="button3" class="buttons" type="button" value="Start">
    <input id="button3_stop" class="buttons" type="button" value="Stop">
    <div>Registration closes in <span id="timer4" class = "timer">04:00</span> minutes!</div>
    <input id="button4" class="buttons" type="button" value="Start">
    <input id="button4_stop"  class="buttons" type="button" value="Stop">
    <div>Registration closes in <span id="timer5" class = "timer">06:00</span> minutes!</div>
    <input id="button5"  class="buttons" type="button" value="Start">
    <input id="button5_stop" class="buttons" type="button" value="Stop">
    <div>Registration closes in <span id="timer6" class="timer">06:00</span> minutes!</div>
    <input id="button6" class="buttons" type="button" value="Start">
    <input id="button6_stop" class="buttons" type="button" value="Stop">

    <input id="reset" type="button" value="Reset All">

  </body>
  <script type="text/javascript" src="/javascripts/timer.js"></script>
</html>
